<tr>
    <td>{{ task.title }}</td>
    <td>{{ task.startDate|date("d/m/Y H:i") }}</td>
    <td>{{ task.endDate|date("d/m/Y H:i") }}</td>
    <td><span class="badge"></span>{{ task.project.name }}</td>
</tr>

<style>
    .badge {
        height: 10px;
        padding: 1px 10px;
        border-radius: 50%;
        background: {{ task.project.color }};
        color: white;
        margin-right: 10px;
    }
</style>