{% extends 'base.html.twig' %}

{% block title %}All the tasks{% endblock %}

{% block body %}
    <div class="container">
        <div class="sidebar">
            filter
        </div>
        <div class="body">
            <div class="data">
                <table>
                    <thead>
                    <tr>
                        <th>Task</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Project</th>
                        <th>Delete</th>
                        <th><button>Create</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        {% include 'tasks/_detail.html.twig' with {task: task} only %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    .container {
        display: flex;
        padding: 3rem;
        font-family: 'Roboto', sans-serif;
    }

    .container .sidebar {
        background-color: red;
        width: 30%;
        padding: 1rem;
    }

    .container .body {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 1rem;
    }

    .container .body .data table {
        width: 100%;
        border-collapse: collapse;
    }
    .container .body .data tr {
        border-bottom: 1px solid rgba(0,0,0,0.12);
        height: 50px;
    }

    .container .body .data table>tbody>tr {
        -webkit-transition: background-color .25s ease;
        transition: background-color .25s ease;
    }
    .container .body .data table>tbody>tr:hover {
        background-color: rgba(242,242,242,0.5);
    }
    .container .body .data th, td {
        width: calc(100% / 6);
        text-align: left;
        padding: 10px;
    }
</style
{% endblock %}